.homeCategory {
  padding-top: 20px;
  font-size: 1.5rem;
  font-weight: 500;
}


.homeCategory span {
  margin-left: 10px;
  font-size: 0.9rem;
  font-weight: 500;
}

.homeCategory span:hover{
  /* cursor: pointer; */
}

.homeCategory span::after{
  content: " >";
}