.advertisingImg {
  font-size: 1rem;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: solid 3px rgb(160, 0, 0);
  margin: 0 auto;

  width: 1340px;
  height: 300px;

  padding: 0px;
}