.Advertising {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 346px;
  overflow: unset;
  margin-bottom: 20px;
}

.limitBackgroundAds {
  width: 100;
  overflow: hidden;
  z-index: -1;
}

.limitBackgroundAds img{
  z-index: -1;
  height: 350px;
  overflow: unset;
  background-image: none;
}

.backgroundAdvertising {
  justify-self: center;
  position: absolute;
}