.favoriteContainer {
  display: flex;
  align-items: center;
}

.favoriteContainer:hover {
  cursor: pointer;
}

.favoriteAmouts {
  font-size: 0.9rem;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  transform: translateY(-4px);
  color: black;
  text-align: center;
  background-color: rgb(224, 146, 2);
}