.formSize {
  height: 100%;
  width: 100%;
  /* box-shadow: 4px 5px 15px 3px rgba(0, 0, 0, 0.267); */
}

.loginForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-left: solid 1px rgba(58, 58, 58, 0.493);
  border-top: solid 1px rgba(58, 58, 58, 0.493);
  border-bottom: solid 1px rgba(58, 58, 58, 0.493);
  gap: 20px;
}

.loginForm h2 {
  margin-top: 30px;
  color: #8b5d00;
  margin-bottom: 30px;
}

.loginForm label {
  padding-left: 60px;
  align-self: flex-start;
  font-size: 1.3rem;
  margin: 10px 0px;
}

.loginForm input {
  align-self: center;
  border-radius: 6px;
  border: solid 2px rgb(66, 66, 66);
  font-size: 1.2rem;
  padding: 10px;
  height: 50px;
  width: 80%;
  background-color: #e6e6e6;
  -webkit-appearance: none;
}

.loginOptions {
  display: flex;
  justify-content: center;
  gap: 34px;
  margin-top: 20px;
  align-items: center;
}

.loginOptions button {
  border-radius: 4px;
  background-color: #e4a320;
  font-size: 1.2rem;
  color: #3b2800;
  border: solid 1px #3b2800;
  height: 50px;
  width: 200px;
}

.loginOptions button:hover {
  cursor: pointer;
}

.loginOptions span {
  font-size: 0.9rem;
  color: #614100;
}

.loginOptions span:hover {
  cursor: pointer;
}

.loginWithSocialMedia {
  color: #8b5d00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 26px;
  align-items: center;
  margin-top: 30px;
}

.LoginSocialMediaOptions {
  display: flex;
  gap: 10px;
}

.LoginSocialMediaOptions button {
  border-radius: 4px;
  font-size: 1.0rem;
  color: #3b2800;
  border: solid 1px black;
  height: 50px;
  width: 220px;
}

.LoginSocialMediaOptions button:first-child {
  border: solid 2px #3b5998;
  color: #3b5998;
}

.LoginSocialMediaOptions button:last-child {
  border: solid 2px #c71610;
  color: #c71610;
}

.LoginSocialMediaIcon {
  font-size: 1.2rem;
  margin-right: 8px;
}

.LoginSocialMediaOptions button:hover {
  cursor: pointer;
}

